
.about {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 60px;
    height: 100vh; 
    box-sizing: border-box;
    background-color: var(--secondary-color);
}

.about2 {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 80px; 
    max-width: 1200px; /* Limita a largura máxima */
    margin: 0 auto; /* Centraliza o conteúdo */
}

.avatar img {
    width: 400px; 
    border-radius: 50%; /* Torna a imagem do avatar circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao redor da imagem */
}

.about-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.titleh {
    font-size: 3rem; /* Aumenta o tamanho da fonte */
    font-weight: bold;
    color: var(--darkblue);
    margin-bottom: 10px; /* Espaçamento inferior */
}

.rounded-border {
    border-radius: 15px; 
    padding: 10px 15px; 
    background-color: var(--card-background); 
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.description-list {
    padding: 0; 
    margin: 0; 
    font-size: 1rem;
    color: var(--text-color);
}

p.desc {
    font-size: 1.5rem;
    color: var(--darkblue);
    font-weight: bold;
    margin-bottom: 20px;
}

.description-list li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .interface {
        flex-direction: column; 
        gap: 20px;
    }

    .avatar img {
        max-width: 130px; 
    }

    .titleh {
        font-size: 1.8rem; /* Tamanho reduzido em telas menores */
        text-align: center;
    }
}