.experiências {
    text-align: center;
    padding: 0 20px;
    background-color: var(--white);
}

.timeline {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

.card {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.card-content img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.text-content {
    color: var(--whitedarktext);
    background-color: var(--offwhite);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.25rem;
    flex: 1;
    padding: 20px;
    width: 1000px;
}

.text-content span {
    color: var(--azul);
    font-weight: bold;
}

.span1, .span2 {
    font-size: .95rem;
    font-weight: bold;
}

small, h5 {
    color: var(--darkblue);
    font-weight: bold;
}

@media (max-width: 768px) {
    .card-content img {
        display: none;
    }

    .text-content {
        font-size: 1rem;
        padding: 10px;
        width: 100%;
    }

    .text-content small, .text-content h5 {
        font-size: 0.9rem;
    }

    .card {
        margin: 10px;
        padding: 15px;
    }
}

@media (max-width: 900px) {
    .text-content {
        font-size: 1rem;
        padding: 10px;
        width: 100%;
    }

    .text-content small, .text-content h5 {
        font-size: 0.9rem;
    }

    .card {
        margin: 10px;
        padding: 15px;
    }

    .card-content img {
        width: 300px;
        height: auto;
        margin-right: 20px;
    }
}