.icon-social {
    display: flex; /* Flexbox para layout */
    justify-content: flex-end; 
    align-items: center; 
    gap: 30px; 
    cursor: pointer;
}

.icon-social a {
    display: flex; /* Flexbox para centralização */
    justify-content: center; 
    align-items: center; 
    width: 60px;  
    height: 60px;
    background-color: var(--whitedark); 
    border-radius: 50%; 
    transition: transform .2s ease; 
}

.icon-social a .icon {
    color: var(--blue); 
    font-size: 2rem; 
}

.icon-social a:hover {
    transform: scale(0.8); /* Efeito de hover */
}

@media (max-width: 768px) {
    .icon-social a .icon { 
        font-size: 1rem; 
    }
}