.icon-social {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 30px; 
    cursor: pointer;
}

.icon-social a {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 55px;  
    height: 55px;
    background-color: var(--whitedark); 
    border-radius: 50%; 
    transition: transform .2s ease; 
}

.icon-social a .icon {
    color: var(--azul); 
    font-size: 2rem; 
}

.icon-social a:hover {
    transform: scale(0.9); 
}

@media(max-width: 510px) {
    .icon-social a {
        width: 55px; 
        height: 55px;
    }
}