.titleh {
    font-size: 45px;
    text-align: center;
}

.title-left {
    text-align: left;
}

.titles {
    color: var(--azul);
    font-size: 45px;
}

@media (max-width: 750px) {
    .titleh {
        font-size: 35px;
    }

    .titles {
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    .titleh {
        font-size: 1.55rem !important;
    }

    .titles {
        color: var(--azul);
        font-size: 1.55rem !important;
    }
}