.titleh {
    font-size: 55px;
    text-align: center;
}

.title-left {
    text-align: left;
}

.titles {
    color: var(--azul);
    font-size: 55px;
}

@media (max-width: 768px) {
    
    .titleh {
        font-size: 1.5rem;
    }
    .titles {
        font-size: 1.3rem;
    }

}