.skills {
    padding: 60px 6%;
    text-align: center; 
}

.interface {
    display: flex;
    justify-content: center;
    width: 100%;
}


.flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
}

/* Estilos das caixas */
.box {
    padding: 30px;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
    width: calc(33.333% - 30px); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--azul);
}

.box i {
    font-size: 70px;
    color: var(--gray);
}

.box h2 {
    font-size: 1.4rem;
    margin: 15px 0;
}

.box p,
.box span {
    font-size: 1.12rem;
}

.box:hover i {
    color: var(--azul);
}

.box:hover span {
    color: var(--azul);
    font-weight: 500;
}

/* Responsividade para telas menores */
@media (max-width: 970px) {
    .flex {
        flex-direction: column; 
        align-items: center;
    }

    .box {
        width: 80%; 
    }

    .box i {
        font-size: 2.5rem;
    }
}
