.skills {
    padding: 60px 6%;
    text-align: center;
    background-color: var(--white);
    color: var(--whitedarktext);
}

.interface {
    display: flex;
    justify-content: center;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 30px;
}

/* Estilos das caixas */
.box {
    padding: 30px;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
    width: calc(33.333% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--azul);
}

.box i {
    font-size: 70px;
    color: var(--gray);
}

.box h2 {
    font-size: 1.3rem;
    margin: 15px 0;
}

.box p,
.box span {
    font-size: 1.2rem;
}

.box:hover i {
    color: var(--azul);
}

.box:hover span {
    color: var(--azul);
    font-weight: 500;
}

/* Estilo dos ícones */
.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
}

.icons img {
    width: 65px;
    height: 65px;
    transition: transform 0.2s ease-in-out;
}

.icons img:hover {
    transform: scale(1.2);
}

/* Responsividade para telas menores */
@media (max-width: 970px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
    }

    .box i {
        font-size: 2.5rem;
    }

    .icons {
        flex-wrap: wrap;
    }
}

@media (max-width: 770px) {
    .icons img {
        width: 50px;
        height: 50px;
        transition: transform 0.2s ease-in-out;
    }
}

@media (max-width: 470px) {
    .icons img {
        width: 40px;
        height: 40px;
        transition: transform 0.2s ease-in-out;
    }

    .box i {
        font-size: 2rem;
    }

    .box h2{
        font-size: 1.3rem;
    }
}