html {
  scroll-behavior: smooth; /* Ativa a rolagem suave */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  --cinza: #343a40;
  --white: #fff;
  --offwhite: #ECECEC;
  --whitedark: #D0CEC9;
  --whitedarktext: #000;
  --azul: #2067C7;
  --darkblue: #03235E;
  --grayblue: #4f5e64;
  --dark: #000;
}

body.dark{
  --cinza: #343a40;
  --white: #000;
  --offwhite: #12171b;
  --whitedark: #D0CEC9;
  --whitedarktext: #D0CEC9;
  --azul: #2067C7;
  --darkblue: #D0CEC9;
  --grayblue: #4f5e64;
  --dark: #000;
}

body.dark .background-image {
  display: none;
}

.interface {
  max-width: 1280px;
}

@media (max-width: 750px) {
  .titleh {
    font-size: 35px;
  }

  .titles {
    font-size: 35px;
  }
}