html {
  scroll-behavior: smooth;
}

:root {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  /* Modo Normal */
  --cinza: #343a40;
  --cinza2: #343a40;
  --white: #fff;
  --offwhite: #ECECEC;
  --whitedark: #D0CEC9;
  --whitedarktext: #000;
  --azul: #2067C7;
  --darkblue: #03235E;
  --grayblue: #4f5e64;
  --dark: #000;
}

.about .dark {
  background-image: none;
}

.interface {
  max-width: 1280px;
  font-family: "Mona Sans", serif;
}