.projects {
    padding: 80px 4%;
    padding-bottom: 80px;
}

.projects .flex {
    justify-content: center;
    flex-wrap: wrap;
}
/* Tamanho do Card */
.img-project {  
    margin-top: 60px;
    width: 400px !important; 
    height: 500px; 
    background-color: var(--azul);
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 40px;
    position: relative;
    transition: box-shadow 0.5s ease, background-position 8s;
    overflow: hidden; 
}

.img-project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    transition: background-color 0.4s ease; 
    border-radius: inherit; 
    z-index: 1; 
}

.img-project:hover::after {
    background-color: rgba(0, 0, 0, 0.5); 
}

.img-project:hover {
    background-position: 100% 100%;
    box-shadow: 0 0 25px var(--azul);
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2; 
}

.overlay p {
    color: var(--whitedark);
    text-align: center;
    padding-bottom: 20px;
}

.overlay:hover {
    opacity: 1;
}

.overlay button {
    text-decoration: none; 
    background: none; 
    border: none; 
    cursor: pointer; 
}

.overlay button i {
    font-size: 40px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 970px) {
    .img-project {
        width: 450px;  
        height: 520px; 
    }
}

@media (max-width: 475px) {
    .img-project {
        width: 270px !important;  
        height: 450px; 
    }
}