.projects {
    background-color: var(--offwhite);
    color: var(--whitedarktext);
}

.interface {
    width: 100%;           
    max-width: 1200px; 
    margin: 0 auto;       
    display: block;            
}

.mySwiper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--azul);
}

.swiper-pagination-bullet {
    background-color: var(--azul);
}
