.projects {
    background-color: var(--offwhite);
    color: var(--whitedarktext);
}

.interface {
    width: 100%;
    max-width: none;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    padding: 20px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px; 
    transition: transform 0.3s ease;
}

.swiper-slide-active {
    transform: scale(1.4); /* Destaque do slide ativo */
    z-index: 2; 
}

.project-slide img {
    width: 100%; 
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-slide img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

.swiper-pagination-bullet {
    background-color: var(--azul);
    opacity: 0.7;
    transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--blue);
}

/* Swiper navigation arrows: ocultar por padrão, mostrar no hover */
.swiper-button-next,
.swiper-button-prev {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 10;
    cursor: pointer;
}


.interface:hover .swiper-button-next,
.interface:hover .swiper-button-prev {
    opacity: 1;
    pointer-events: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    .swiper-slide {
        width: 280px; 
    }

    .swiper-slide-active {
        transform: scale(1.3); 
    }
}

@media (max-width: 600px) {
    .swiper-slide {
        width: 260px; 
    }

    .swiper-slide-active {
        transform: scale(1.2);
    }
}

@media (max-width: 475px) {
    .swiper-slide {
        width: 240px; 
    }

    .swiper-slide-active {
        transform: scale(1.1); 
    }
}